asgiref==3.7.2
Django==4.2.10
psycopg==3.1.18
psycopg2-binary==2.9.9
python-dotenv==1.0.1
sqlparse==0.4.4
typing_extensions==4.10.0asgiref==3.7.2
certifi==2024.2.2
charset-normalizer==3.3.2
cloudinary==1.39.0
django-cloudinary-storage==0.3.0
idna==3.6
requests==2.31.0
six==1.16.0
urllib3==2.2.1
