
@font-face {
    font-family: "tannimbus";
    src:
        local("tannimbus"),
        url("../fonts/TAN-NIMBUS.ttf") format("truetype");
}

@font-face {
    font-family: "poppins";
    src:
        local("poppins"),
        url("../fonts/Poppins-Regular.ttf") format("truetype");
}

.tannimbus {
    font-family: "tannimbus";
}

.poppins {
    font-family: "poppins";
}

/* input {
    color : #000;
    background: black;
} */

.glassy-effect {
    background: rgba(39, 39, 42, 0.43);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* border: 2px solid rgba(39, 39, 42, 0.5); */
    backdrop-filter: blur(9.1px);
    -webkit-backdrop-filter: blur(9.1px);
}

.box {
    border: 2px solid red;
}

footer{
    z-index: 1000;
    border-top: 1px solid #000;
}
