<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Around You</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" media="all">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" media="all">

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>  


    {% load static %}
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />

</head>
<body class="dark:bg-gray-800 dark:text-white poppins">
    
    {% include 'sidebar.html' %}

    {% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success'%}
            <script type=text/javascript> 
               
                toastr.{{ message.tags }}('{{ message }}')
            </script>
        {% elif message.tags == 'info' %}
            <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
        {% elif message.tags == 'warning' %}
            <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
        {% elif message.tags == 'error' %}
            <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
        {% endif %}
    {% endfor %}
{% endif %}

    <div class="sm:pl-56  px-4  mt-10 flex flex-col justify-between items-center min-h-screen">

       
      {% block content %}
        {% endblock %}
      

      
      {% include 'footer.html' %}
        
    </div>


   

    


    {% comment %} all javascript links {% endcomment %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>



    <script>
        var bgColors = [
           "#387ADF" ,
            "green" ,
            "#D04848" ,
        ]


        const toast = ( text , index )=>{
            Toastify({
                text: text ,
                duration: 3000,
                close: true,
                gravity: "top",
                position: "center",
                backgroundColor: bgColors[index],
                className: "rounded-lg",

                stopOnFocus: true,
            }).showToast();
        }
      
        
      </script>
</body>
</html>