<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Around You</title>
    <meta name="description" content="Around You. Get all services at you dootstep">
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">


    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />

    <script src="https://cdn.tailwindcss.com"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
</head>

<body class="dark:bg-gray-800 bg-stone-100 dark:text-white poppins min-h-screen">

    {% include 'sidebar.html' %}

    {% if messages %}
        {% for message in messages %}
            <script>
                new Notify({
                    text:  "{{ message }}",
                    status: "{{ message.tags }}",
                    effect: 'slide',
                    speed: 300,
                    showIcon: true,
                    showCloseButton: false,
                    autoclose: true,
                    position: 'x-center',
                })
            </script>
        {% endfor %}
    {% endif %}

 
        <div class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 loader">
            {% load static %}
            <img
              src="{% static 'images/loading1.gif' %}"
              class="lg:h-64  h-32  mx-auto"
              alt="aroundyou"
            />
        </div>
   

    <div class="sm:pl-56  px-4  mt-10 flex flex-col justify-between min-h-screen">

        <div class="flex flex-col justify-center items-center">
            {% block content %}
            {% endblock %}
        </div>

        



        {% include 'footer.html' %}

    </div>







    {% comment %} all javascript links {% endcomment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

    <script>

        window.addEventListener('load', () => {
            
            const loader = document.querySelector('.loader');
            
            loader.classList.add('hidden');

            loader.addEventListener('transitionend', () => {
                document.body.removeChild(loader);
            })

            


        })

    </script>



   
</body>

</html>
