{% extends 'base.html' %} {% block content %}

<div
    class="glassy-effect m-10 mt-20 flex flex-col items-center justify-center rounded-2xl p-14 shadow-lg shadow-gray-900"
>
    <div class="flex items-center justify-center">
        <img
            src="{{user.img.url}}"
            alt="{{user.username}}"
            class="h-60 w-60 rounded-xl"
        />

        <div class="m-10 flex space-x-4">
            <div class="flex flex-col space-y-3">
                <h1 class="text-gray-400">Username :</h1>
                <p class="text-gray-400">Email :</p>
                <p class="text-gray-400">Full Name :</p>
                <p class="text-gray-400">Mobile No. :</p>
                <p class="text-gray-400">Date Joined :</p>
                <p class="text-gray-400">Address :</p>
            </div>
            <div class="flex flex-col space-y-3">
                <h1 class="text-gray-100">{{user.username}}</h1>
                <p class="text-gray-100">{{user.email}}</p>
                <p class="text-gray-100">
                    {{user.first_name}} {{user.last_name}}
                </p>
                <p class="text-gray-100">{{user.phone}}</p>
                <p class="text-gray-100">{{user.date_joined}}</p>
                <p class="text-gray-100">{{customer.address}}</p>
            </div>
        </div>
    </div>

    <div class="flex items-center justify-center space-x-4">
        <a href="/" class="rounded-xl bg-gray-400 p-2 text-gray-900"
            >Update Profile</a
        >
        <a href="/logout" class="rounded-xl bg-red-400 p-2 text-gray-900"
            >Logout</a
        >
    </div>
</div>

{% endblock content %}
