{% extends 'base.html' %}

{% block content %}
   <div class="flex mt-20 justify-center items-center flex-col">

        <h1 class="md:text-4xl text-3xl mb-7">Service Request</h1>

        <div class="flex flex-col items-center justify-center px-10 py-4 space-y-2  glassy-effect shadow-md shadow-gray-900">
            <img src="{{ sp_user.user.img.url }}" alt="" class="h-40 rounded-xl mb-4">
            <h3 class="text-xl">{{ sp_user.user.first_name }} {{ sp_user.user.last_name }}</h2>
            {% comment %} <p class="text-sm text-gray-400">{{ service_provider.user.phone }}</p>
            <p class="text-sm text-gray-400">{{ service_provider.user.email }}</p> {% endcomment %}
            {% comment %} {{ service_provider.services.split(',') }} {% endcomment %}
           
            {% comment %} {% with services=service_provider.services.split(',') %}
            {% for service in services %}
                <p class="text-sm">{{ service }}</p>
                {% endfor %}
                {% endwith %} {% endcomment %}
                
            <p class="text-md">About Me : {{ sp_user.qualification }}</p>
            <p class="text-md">My Services : {{ sp_user.services }}</p>
            <p class="text-md">Available Locations : {{ sp_user.services_location }}</p>

            {% comment %} <p class="text-sm">Phone : {{ sp_user.user.phone }}</p>
            <p class="text-sm">Email : {{ sp_user.user.email }}</p> {% endcomment %}

            <p class="text-blue-400 font-semibold">You Need to Book this service to get the contact details of the service provider</p>

            


            <form action="" method="POST" class="flex flex-col justify-center items-center">

                {% csrf_token %}
    
            
                <div class="mb-5 flex space-x-2">
                    <label class="form-control w-full " for="{{ s_request_form.description.id_for_label }}">
                        {{ s_request_form.description }}
                    </label>
                </div>
    
                <button type="Submit" class="text-white bg-blue-500 rounded-md p-2">Book Service</button>
    
            </form>
        </div>

        
        
        

   </div>
{% endblock %}
```